@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.all-st-wrapper{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10010;
  top: 0;
  left: 0;
  background-color: black;
  direction: ltr;
  &.opened {
    display: block;
  }
  &>.slick-list {
    height: 100%;
    &>.slick-track {
      height: 100%;
    }
  }
  .slick-slide {
    // FORCE LTR
    float: left;
  }
  .st-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    .st-header {
      $headerHeight: 50px;
      height: $headerHeight;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
      .st-close {
        display: block;
        width: $headerHeight;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        svg {
          height: 40%;
          @include center;
        }
      }
      .st-logo {
        float: left;
        position: relative;
        width: $headerHeight;
        height: 100%;
        svg {
          height: 60%;
          @include center;

          image {
            fill: red;
          }
        }
      }
      h3 {
        float: left;
        margin: 0;
        color: white;
        font-size: 12px;
        height: $headerHeight;
        line-height: $headerHeight;
        //text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
      }
    }
    .st-main {
      position: relative;
      width: 100%;
      height: 100%;
      .st-slider {
        position: relative;
        width: 100%;
        height: 100%;
        .slick-list {
          height: 100%;
        }
        .slick-track {
          height: 100%;
        }
        .item {
          height: 100%;
          position: relative;
          img, video {
            @include center;
            max-width: none;
            max-height: none;
            width: 100%;
            height: auto;
            display: block;
          }
        }
      }
    }
    .st-footer {
      a {
        $height: 50px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: $height;
        line-height: $height;
        width: 100%;
        text-align: center;
        color: gray;
      }
    }
  }
}
