@import "style";

div.header-stories {
  position: relative;
  overflow: visible;
  height: auto;
  .header-story:nth-child(5) ~ .header-story {
      display: none;
   }
  .header-story {
    width: 20%;
    text-align: center;
    position: relative;
    float: left;
    margin-top: 3px;
    margin-bottom: 4px;
    .story-logo {
      height: 40px;
      position: relative;
      display: block;
      svg {
        max-width: 90%;
        max-height: 90%;
        @include center;
      }
    }
    .story-sponsor-name {
      display: block;
      font-size: 0.5rem;
      line-height: 0.65rem;
      position: relative;
      width: 80%;
      margin: 0 10%;
      vertical-align: middle;
      //outline: 1px solid blue;
    }
  }
  &:after { // CLEARFIX
    content: "";
    display: table;
    clear: both;
  }
}
